---
title: Le Wagon Middleman Airbnb by judithyhh
---

<div id="home">
  <%= partial "layouts/banner" %>   <!-- inject layouts/_banner.html.erb -->
  <%= partial "layouts/cards" %>   <!-- inject layouts/_card.html.erb -->
</div>
